body {
	font-family: sans-serif;
	font-weight: 300;
	background: linear-gradient(620deg,#B0C4DE);
	background-size: 400% 400%;
	animation: BackgroundGradient 15s ease infinite;
}
@keyframes BackgroundGradient {
    0% {background-position: 0% 25%;}
	25%{background-position: 25% 50%;}
	50% {background-position: 100% 50%;}   
    100% {background-position: 0% 50%;}
}

header {
	padding: 20px;
	background: linear-gradient(360deg,#fff);
	text-transform: uppercase;
}

header .row, footer .row {
	align-items: center;
	display: flex;
}

header h1 {
	font-weight: 700;
	margin: 0;
}

header nav {
	display: flex;
	justify-content: flex-end;
}

header p {
	padding: 0 20px;
	margin: 0;
}

.jumbotron {
	align-items: center;
	background-image: url('my.jpg');
	background-position: center center;
	background-size: cover;
	display: flex;
	height: 500px;
}

.jumbotron h2,h3 {
	font-size: 100px;
	font-weight: 700;
	margin: 0;
	color: rgba(128,0,0,1);
    background-image: url('text.jpg');
    background-repeat:repeat-x;
	-webkit-background-clip:text;
	color: transparent;
	font-family: 'Cinzel', serif;
	animation: animate 50s Linear infinite;
}
@keyframes animate {
  0%{
    background-position: Left 0px top 10px;
  }
    40%{
    background-position: Left 800px top 10px;
  }
}
section .row img {
	margin: 0 0 30px;
	width: 100%;
	height: 400px;
}
.col-md-6 {
	margin: 0 0 30px;
}

.btn {
	border-radius: 2px;
}

.btn-primary {
	background-color: #ffffff;
	border: 0px;
	color: #FBD1D5;
}

.btn-primary:hover {
	background-color: #FBD1D5;
	color: #ffffff;
}

.btn-secondary {
	background-color: #E8DFE0;
	color: #ffffff;
	margin: 0 0 30px;
}

footer {
	font-size: 20px;
	padding-bottom: 10px 0;
}

footer .col-md-8 {
	display: flex;
	justify-content: center;
}

footer ul {
	list-style: none;
}

footer img {
	width: 32px;
	height: 32px;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.middle:hover {
  transition: .5s ease;
  opacity: 0.9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 20px;
  background-image: linear-gradient(to bottom right,#CB7B34,#FFD3AB,#E99E5B,#FFE7D2);
}

.text {
  color: #000000;
  font-size: 26px;
  text-shadow: 2px 2px #A4E9DF;
}
header p {
	font-weight: 700;
	margin: 0;
	color: rgba(128,0,0,1);
    background-image: url('lg.jpg');
    background-repeat:repeat-x;
	-webkit-background-clip:text;
	color: transparent;
	animation: animate 50s Linear infinite;
}
@keyframes animate {
  0%{
    background-position: Left 0px top 10px;
  }
    40%{
    background-position: Left 800px top 10px;
  }
}